body {
    background-color: white;
    color: black;
}

h1, h3, h5 {
    text-align: center;
}

h6 {
    font-size: 12px;
}

.brand-logo > img {
    height: auto;
    width: auto;
    max-width: 47.5%;
}

#home > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.parallax-container {
    height: 650px;
}

@media only screen and (max-width: 1200px) {
    .brand-logo > img {
        display: block;
        margin: 0 auto;
        padding-top: 2%;
    }

    #home-logo {
        width:100%;
    }

    .parallax-container {
        height: 200px;
    }
}

body {
    cursor: url("/assets/images/cursor.png"), auto;
}

.typewriter h1 {
    color: black;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 2s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }