body {
    background-color: white;
    color: black;
}

h1, h3, h5 {
    text-align: center;
}

h6 {
    font-size: 12px;
}

.brand-logo > img {
    height: auto;
    width: auto;
    max-width: 47.5%;
}

.tabs .indicator{
    background-color:#ffde59;
}


@media only screen and (max-width: 1200px) {
    .brand-logo > img {
        display: block;
        margin: 0 auto;
        padding-top: 2%;
    }

    #home-logo {
        width:100%;
    }

    .parallax-container {
        height: 200px;
    }
}

body {
    cursor: url("/assets/images/cursor.png"), auto;
}
